osx_image: xcode8.3

dist: trusty
sudo: true

language: node_js
node_js: "8"

env:
  global:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

os:
  - osx

cache:
  directories:
  - node_modules
  - $HOME/.cache/electron
  - $HOME/.cache/electron-builder
  - $HOME/.npm/_prebuilds

before_script:
  - brew install rpm
  - npm update @suen/music-api
  - npm update @suen/electron-updater

script:
  - MUSICLAKEURL=$MUSICLAKE_URL npm run build-file
  - npm run build:publish

deploy:
  provider: releases
  api_key: ${GH_TOKEN}
  file_glob: true
  file:
    - releases/*
  skip_cleanup: true
  on:
    branch: master
    tags: true

notifications:
  email: false