.app {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: $searchBar-height;
    border-bottom: 1px solid #EBEBEB;
    -webkit-app-region: drag;
    padding: 0 16px;
}

.icon {
    font-size: 14px;
    cursor: pointer;
    color: $color-content;
    &:hover {
        color: $color-primary;
    }
    &.right_arrow {
        transform: rotate(180deg);
    }
    &.animation {
        animation: flash 1s alternate infinite;
        @keyframes flash {
            from {
                color: $color-content;
            }
            to {
                color: $color-warn;
            }
        }
    }
}

.left {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    .icon {
        margin-right: 16px;
    }
}

.right {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    .icon {
        margin-left: 16px;
    }
}

.inputArea {
    position: relative;
    .input {
        width: 200px;
        height: 20px;
        border-radius: 20px;
        border: none;
        background-color: #EAEAEA;
        margin-left: 16px;
        padding: 0 22px;
        opacity: .7;
        position: relative;
        z-index: 1;
        font-size: 12px;
        &:focus {
            outline: none;
        }
    }
    .input:focus + .holder {
        left: 20px;
        margin: 0;
        transition: all .4s;
    }
    .holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        width: 44px;
        padding: 0 2px;
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: 0;
        transition: all .4s;
        &.empty {
            left: 92px;
            margin: auto;
        }
    }
    .clean {
        position: absolute;
        right: 3px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        z-index: 2;
        opacity: .5;
    }
}