$leftmenu-width: 180px;
$player-height: 56px;

$color-primary: rgb(82, 144, 255);
$color-sub: #909399;
$color-title: #303133;
$color-content: #444;
$color-disabled: #c0c4cc;
$color-error: #f56c6c;
$color-warn: #e6a23c;
$color-background: #f8f8f9;

$color-border1: #dcdfe6;
$color-border2: #e4e7ed;
$color-border3: #ebeef5;
$color-border4: #f2f6fc;
